.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr; 
    background-color: white;
    align-items:self-end;
    padding:20px;
}
.c1{
    color:black;
    text-align: right;
    text-decoration: underline;
}
.cont1{
    color:white;
    padding:10px;
    text-align: center;
    border:1px solid black;
    background-color: black;
}


.cont2{
    text-align: center;
    padding:20px;
}
.c3{
    color:black;
    align-items: center;
    text-decoration: underline;
}